<!DOCTYPE html>
<html lang="en">
<head>
    <title>Books List</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Roboto:ital,wght@0,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/homepage.css" />
</head>
<body>
    <div id="page-container">
        <%- include('partials/navbar') %>
        <div id="content-wrap">
            <h1>Books List</h1>
            <form method="get" action="/homepage">
                <label for="genre">Filter by genre:</label>
                <select id="genre" name="genre">
                    <% if (allowedGenres) { %>
                        <% allowedGenres.forEach(g => { %>
                            <option value="<%= g.toLowerCase() %>" <%= selectedGenre === g.toLowerCase() ? 'selected' : '' %>><%= g %></option>
                        <% }) %>
                    <% } %>
                </select>
                <button type="submit">Filter</button>
            </form>
            <div class="books-container">
                <% books.map((element, index) => { %>
                <div class="book-item">
                    <div class="book-cover">
                        <img src="<%= element.cover %>" alt="<%= element.title %> cover" style="width:250px;height:auto;">
                    </div>
                    <div class="description">
                        <p class="title">
                            <a href="/book/<%= element.id %>"><%= element.title %></a><br />
                            <span class="author"><%= element.author %></span>
                        </p>
                        <button onClick="addToReadingList('<%= index %>')" class="add-to-reading-list-btn">
                            Add to reading list
                        </button>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
        <%- include('partials/footer') %>
    </div>
    
    <script src="/js/addToReadingList.js"></script>
</body>
</html>