<!DOCTYPE html>
<html>
<head>
    <title>Books List</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" type="text/css" href="/homepage.css">
</head>
<body>
    <div id="page-container">

    <%- include('partials/navbar') %>
    <div id="content-wrap">


    <h1>Books List</h1>
    <form method="get" action="/homepage">
        <label for="genre">Filter by genre:</label>
        <select id="genre" name="genre">
            <% if (allowedGenres) { %>
                <% allowedGenres.forEach(g => { %>
                    <option value="<%= g.toLowerCase() %>" <%= selectedGenre === g.toLowerCase() ? 'selected' : '' %>><%= g %></option>
                <% }) %>
            <% } %>
        </select>
        <button type="submit">Filter</button>
    </form>
    <ul>
        <% if (books) { %>
            <% books.forEach(book => { %>
                <li data-genres="<%= book.genre.toLowerCase() %>">
                    <h2><a href="/book/<%= book.id %>"><%= book.title %></a></h2>
                    <p><strong>Summary:</strong> <%= book.summary %></p>
                </li>
            <% }) %>
        <% } %>
    </ul>
    </div>
    <%- include('partials/footer') %>
    </div>

</body>
</html>