<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="stylesheet" href="/css/readinglist.css" />
    <title>Document</title>
  </head>
  <body>
    <div id="page-container">
      <%- include('partials/navbar') %>
      <div id="content-wrap">
        <h2>Your Reading List</h2>
        <form>
          <label for="genre">Genre:</label>
          <select id="genre" name="genre">
            <!-- make this select options dynamic depending on unique values from "genre" /readingList.filter/-->
            <option value="">All</option>
            <option value="Fiction">Fiction</option>
            <option value="Non-fiction">Non-fiction</option>
            <option value="kids">Kids</option>
          </select>
          <label for="readStatus">Read Status:</label>
          <select id="readStatus" name="readStatus">
            <option value="">All</option>
            <option value="read">Read</option>
            <option value="unread">Unread</option>
          </select>
          <button type="submit">Filter</button>
        </form>
        <ul>
          <% readingList.map((book, index) => { %>
          <li>
            <%= book.title %> by <%= book.author %> - <%= book.genre %>
            <form
              action="/updateReadStatus"
              method="POST"
              style="display: inline"
            >
              <input type="hidden" name="book_id" value="<%= book.id %>" />
              <label>
                Read <input type="checkbox" name="read_status" value="read" <%=
                !book.want_to_read ? 'checked' : '' %>>
              </label>
              <button type="submit">Update</button>
            </form>
            <form
              action="/removeBookFromList"
              method="POST"
              style="display: inline"
            >
              <input type="hidden" name="book_id" value="<%= book.id %>" />
              <button type="submit">Remove</button>
            </form>
          </li>
          <% }) %>
        </ul>
      </div>
      <%- include('partials/footer') %>
    </div>
  </body>
</html>
